<div class="card-navbar">
	<div class="navbar-left" style="margin-left: 200px">
      Nicky's Recipes
      <input type="text" placeholder="search" class="searchbox">
      <i class="fa fa-search" style="margin-left: -30px;"></i>
    </div>
</div>
<div class="card-grid animated fadeIn">
	<div ng-repeat="a in range(23)  track by $index" class="card">
		<a href="/cinnamon-buns">
			<img src="http://res.cloudinary.com/nickysemenza/image/upload/c_fill,h_240,w_380/recipe-hub/cinnamon.jpg" width="100%" class="card-img">
		</a>
		<div class="card-header">
			<a class="card-link" href="/cinnamon-buns">Cinnamon Buns</a>
			<div class="card-header-pull-right">3 hours</div>
			<div style="clear: both;"></div>
		</div>

		<div class="card-text">jdkfhajksfdlkjhasjhdfkl</div>
	</div>
</div>
