<div class="card-navbar">
	<div class="navbar-left" style="margin-left: 100px">
      Nicky's Recipes
      <input type="text" placeholder="search" class="searchbox">
      <i class="fa fa-search" style="margin-left: -30px;"></i>
    </div>
</div>
<div class="card-grid animated fadeIn">
<!-- 	<div ng-repeat="a in range(23)  track by $index" class="card">
 -->
 	<div ng-repeat="x in recipes" class="card">
		
 		<a href="/{{x.slug}}">
			<img src="http://res.cloudinary.com/nickysemenza/image/upload/c_fill,h_240,w_380/recipe-hub/{{x.slug}}.jpg" width="100%" class="card-img">
		</a>
		<div class="card-header">
			<a class="card-link" href="/{{x.slug}}">{{x.name}}</a>
			<div class="card-header-pull-right">{{x.time_total}}</div>
			<div style="clear: both;"></div>
		</div>

		<div class="card-text">{{x.description}}</div>
	</div>
</div>
