<div class="wrapper" style="z-index: 9999">
  <div class="navbar-wrapper">
    <div class="navbar-left">
      <a href="/"><i class="fa fa-arrow-left nav-icon-link"></i></a>
      Nicky's Recipes
      <input type="text" placeholder="search" class="searchbox">
      <i class="fa fa-search" style="margin-left: -30px;"></i>
      <a href="/{{r.slug}}/edit"><i class="fa fa-edit nav-icon-link" style="margin-left: 20px;"></i></a>
    </div>
  </div>
</div>

<div class="wrapper animated fadeIn">
  <div class="content">
    <div class="hero-img">
          <img src="http://res.cloudinary.com/nickysemenza/image/upload/c_fill,h_380,w_640/e_gradient_fade,y_-0.3,b_rgb:F2F2F2/recipe-hub/{{r.slug}}" width="100%" style="z-index: -1; margin-top: 50px">
    	<h1 class="hero-text">{{r.name}}</h1>
    </div>
    <hr>
    <div class='instructions-section'>
      {{r.description}}
	    <div class='instructions-header'>Instructions</div>
	    <div ng-repeat="s in r.sections_instructions">
	      	<div class='instructions-section-header'>{{s.title}}</div>
	      	<div class='instructions-section-body'>
            <ol>
              <li ng-repeat='b in s.body'>{{b}}</li>
            </ol>
          </div>
	      	<br>
	    </div>
	</div>
  </div>
   <div class="nav">
    <div class="nav-wrapper">
    	<div class='ingredients-header'>Ingredients</div>
      <div ng-repeat="s in r.sections_ingredients">
      	<div class='ingredient-section-header'>{{s.title}}</div>
      	<div class='ingredient-section-body' ng-repeat="i in s.ingredients">{{i.quantity}} {{i.quantity_unit}} {{i.ingredient}}</div>
      	<br>
      </div>
    </div>
    <div class="nav-wrapper nav-wrapper-second">
      <div class='info-section-header'>Recipe Details</div>
      <ul class='info-list'>
      	<li>makes: {{r.makes_quantity}} {{r.makes_noun}}</li>
	    <li>serves: {{r.serves}}</li>
	    <li>time: {{r.time_details}} ({{r.time_total}})</li>
      </ul>

      <div class='info-section-header'>Tools</div>
      <ul class='info-list'>
      	<li ng-repeat='t in r.tools'>{{t}}</li>
      </ul>

      <div class='info-section-header'>Info</div>
      <ul class='info-list'>
      	<li>adapted from: {{r.original_source}}</li>
      </ul>

      <div class='info-section-header'>Tags</div>
      <ul class='info-list'>
      	<li>
      		<a ng-repeat="e in r.tags">{{e}}{{$last ? '' : ', '}}</a>
      	</li>
      </ul>
      <br>
      <ul class='icon-list'>
        <li  ng-repeat="e in r.icons"><img src="/img/svg/{{e}}.svg" width="30px"></li>
      </ul>
    </div>
  </div>

</div>
