<table border="1">
	<tr ng-repeat="each in schedules">
		<td>{{each.day | amDateFormat:'dddd, MMMM Do YYYY'}}</td>
		<td><li ng-repeat='r in each.recipe'>{{r.name}}</li></td>
	</tr>
</table>

DATE: {{dateInput | amDateFormat:'dddd, MMMM Do YYYY'}}
<br>
RECIPE: {{recipeInput.name}}

<button ng-click="addItem()">Add</button>

<md-datepicker ng-model="dateInput" 
md-placeholder="Enter date"
md-min-date="minDate" md-max-date="maxDate">
</md-datepicker>

<hr>



<li ng-repeat="each in recipes" ng-click="selectRecipe(each)">{{each.name}} ({{each._id}})</li>

<hr>
<datepicker date-format="MMMM d, y">
  <input ng-model="dateInput" type="text" date-min-limit="minDate" date-max-limit="maxDate"/>
</datepicker>
