body, html {
  padding:0;
  margin:0;
  font-family: 'Lato', sans-serif;
  width: 100%;
  height: 100%;
}
body 
{
  background-size: cover;
  background-attachment: fixed;
  background-position: center; 
}

.navbar-wrapper {
	width: 950px;
	height: 50px;
	background-color: #022330;
	position: fixed;
  padding-left: 20px;
  margin-left: -470px;
  z-index: 99;
}
.navbar-left {
  font-family: 'Montserrat', sans-serif;
  font-weight: 700;
  text-transform: uppercase;
  font-size: 18px;
  color: white;
  padding-top: 13px;
}

.searchbox {
  margin-left: 20px;
  width: 171px;
  height: 15px;
  border: solid 0px #00E3E3;
  padding: 6px 2px 6px 15px;
  border-radius: 5px;
  font-size: 12px;
  background-color: #88313B;
  outline: none;
  color: #FFFFFF;
  text-align: left;
}
.wrapper {
  display: flex;
  justify-content: center;
}

.nav { 
  display: flex;
  height: 600px;
  min-height: 100%;
  flex-direction: column;
  position: fixed;

}
.nav-wrapper {
  height: 600px;
  width: 300px;
  background-color: #88313B;
  padding: 15px;
  margin-top: 50px;
}
.nav-wrapper-second {
	background-color: #32425C;
	margin-top: -50px;
}

.content { 
  width: 640px;
  background-color: #F2F2F2;
  min-height: 100vh;
  margin-left: -300px;
}
.hero-text {
	margin-top: -50px;
	padding-left: 20px;
  padding-bottom: 0px;
  font-weight: 700;
	color: black;
}
.ingredient-section-header
{
	font-family: 'Montserrat', sans-serif;
	font-weight: 700;
	text-transform: uppercase;
	font-size: 14px;
	color: white;
}
.ingredient-section-body
{
	font-size: 13px;
	color: white;
}
.ingredients-header
{
	font-family: 'Montserrat', sans-serif;
  text-transform: uppercase;
	font-weight: 400;
	font-size: 23px;
	color: white;
	padding-bottom: 10px;
}
.instructions-header
{
	font-family: 'Montserrat', sans-serif;
  text-transform: uppercase;
	font-weight: 400;
	font-size: 23px;
	padding-bottom: 10px;
}
.instructions-section 
{
	padding-left: 20px;
}
.instructions-section-header
{
	font-family: 'Montserrat', sans-serif;
	font-weight: 400;
	text-transform: uppercase;
	font-size: 14px;
}
.instructions-section-body
{
	font-size: 13px;
  line-height: 21px;
}
.info-section-header
{
	font-family: 'Montserrat', sans-serif;
  text-transform: uppercase;
	font-weight: 400;
	font-size: 23px;
	color: white;
	padding-bottom: 5px;
	padding-top: 10px;
}
.info-list 
{
	list-style-type: none;
  list-style-position:inside;
  margin:0;
  padding:0;
  color:white;
}
.icon-list 
{
  margin: 0 auto;
  margin-top: 20px;
  list-style-type: none;
  list-style-position:inside;
  margin:0;
  padding:0;
  color:white;
}
ul.icon-list li {
    display:inline;
    padding: 2px;
}

.card
{
  width: 380px;
  height: 350px;
  background-color: #32425C;
  margin: 20px;
  z-index: 10;
  box-shadow: 0px 12px 10px 0px rgba(23,20,20,0.50);

}
.card-grid
{
  margin-top: 50px;
  display: inline-flex;
  flex-wrap: wrap;
  justify-content: center;
  z-index: 1;

}
.card-img 
{
/*  border-top-left-radius: 30px;
  border-top-right-radius: 30px;*/
}
.card-header
{
  padding-left: 10px;
  font-family: 'Montserrat', sans-serif;
  font-weight: 700;
  font-size: 22px;
  color: white;
}
.card-header-pull-right
{
  font-family: 'Montserrat', sans-serif;
  font-weight: 700;
  font-size: 12px;
  color: white;
  float: right;
  padding: 8px;
  text-transform: uppercase;
}
.card-text
{
  padding-left: 10px;
  font-size: 13px;
  color: white;
}
.card-navbar
{
  height: 50px;
  background-color: #022330;
  position: fixed;
  width: 100%;
  z-index: 100;
}
.card-link
{
  text-decoration: none;
  color: white;
}
.nav-icon-link
{
  padding-right: 10px;
  text-decoration: none;
  color: white;
}

hr {
    display: block;
    height: 2px;
    border: 0;
    border-top: 2px solid #022330;
    margin: 1em 0;
    padding: 0; 
}



.editor-label {
  display: inline-block;
  width: 140px;
  padding-right: 5px;
  text-align: right;
}​



